#footer {
    border-top: 5px solid #c52d2f;
}

#header {
    /*border-bottom: 5px solid #c52d2f;*/
}

.search_box{
    background-position: 98% 15px !important;
}

.register_link{
    text-align: center;
}

.register_link h3 a:hover{
    color: #FFFFFF !important;
}

.content_providers {
    height: 270px;
    padding: 10px !important;
}

.content_providers img {
    max-height: 250px;
}

.content_providers .overlay h3{
    margin: 0;
}

.content_providers .overlay {
    padding: 15px;
    height: 250px;
}

.post_reply img{
    width: 120px !important;
    height: 120px !important;
    border: 5px solid #c52d2f !important;
}

.login-form input{
    border-color: #DEDEDE;
    height: 48px;
    outline: medium none;
    box-shadow: none;
}

.login-form input[type="radio"]{
    height: auto !important;
}

.login-form input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}